<div class='profile_box' >
    <h1 class="name_age">Rachit Nagwani</h1>
    <h3>Male</h3>
    <p class="location">Agra</p>
    <p class="bio">I am an Engineer</p>
    <p class="interests">Interests: </p>
    <ul> <li >Cricket</li>
    <li>FootBall</li></ul>
    <!-- {(props.isLogin != 'login' && !matchVariables?.selfmatch) && <button onClick={accept}> Accept</button>}
    {(props.isLogin != 'login' && matchVariables?.selfmatch && matchVariables?.othermatch) && <button onClick={redirectToMessage}> Message</button>}
    {(props.isLogin != 'login' && matchVariables?.selfmatch && !matchVariables?.othermatch) && <button> Waiting For Acceptance</button>}
    {(props.isLogin == 'login' && !props.data?.ismatch) && <button onClick={matchUser}>Match</button>}
    {(props.isLogin == 'login' && props.data?.ismatch) && <button >Interest Sent Already</button>}
    {/* {matchVariables} */} -->
</div>